* {
    background-color: #28282B;
    color: whitesmoke;
    margin: 15px;
   

}
.nevada {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 92%;
    border-radius: 10px;
    border: 3px solid #e06f31;
    margin-left: 50px;
    margin-right: 100px;
}

.name {
    font-size: 75px;
    position: relative;
    display: flex;
    left: 100px;
    margin-top: -250px;
    width: 800px;
    
}

.info {
    font-size: 25px;
    width: 600px;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: 200px;

}

.headshot {
    height: 350px;
    width: 350px;
    position: relative;
    right: -960px;
    border: 3px solid #e06f31;
    border-radius: 10px;
    margin-top: -20px;
}

.tabs {
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 50px;
    margin-left: 80px;
    margin-top: -10px;
}   

.tab1 {
    color: white;
    text-decoration: none;
    position: relative;
    top: 40px;
    border-radius: 10px;
    border: 3px solid #e06f31;
    padding: 5px;
}

#abtitle {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin-top: 150px;
    flex-direction: row;
    justify-content: center;
}

.about-me {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px solid #e06f31;
    border-radius: 20px;
    margin-left: 150px;
    
}


#work1 {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    justify-content: center;
    margin-left: 40px;
}

.work2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30px;
}
.rcsite {
    width: 450px;
    height: 350px;
    border-radius: 20px;
    border: 3px solid #e06f31;
    transition: all .2s ease-in-out;
}

.rcsite:hover {
    transform: scale(1.1);
}

.resite {
    width: 450px;
    height: 350px;
    border-radius: 20px;
    border: 3px solid #e06f31;
    transition: all .2s ease-in-out;
}

.resite:hover {
    transform: scale(1.1);
}

.soccergame {
    width: 450px;
    height: 350px;
    border-radius: 20px;
    border: 3px solid #e06f31;
    transition: all .2s ease-in-out;
}

.soccergame:hover {
    transform: scale(1.1);
}

.marksite {
    width: 450px;
    height: 350px;
    border-radius: 20px;
    border: 3px solid #e06f31;
    transition: all .2s ease-in-out;
}

.marksite:hover {
    transform: scale(1.1);
}

.bot-mid1 {
    position: absolute;
    top: 1670px;
    left: 400px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e06f31;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: honeydew;
}

.bot-mid2 {
    position: absolute;
    top: 1670px;
    left: 920px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e06f31;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: honeydew;
}

.bot-mid3 {
    position: absolute;
    top: 2090px;
    left: 350px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e06f31;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: honeydew;
}

.bot-mid4 {
    position: absolute;
    top: 2090px;
    left: 930px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e06f31;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: honeydew;
}

#cont1 {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
}

.cont2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 3px solid #e06f31;
    width: 500px;
    margin-left: 430px;
}

#res {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 90px;
}

.res1 {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid #e06f31;
    margin-left: 350px;
    margin-top: 20px;
}

.footer {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}